# Homebrew
#
alias b="brew update --verbose && brew upgrade --verbose && brew cleanup --verbose --prune=all && brew doctor && brew leaves > ~/brew-leaves.txt && brew list > ~/brew-list.txt && brew list --cask > ~/brew-list-cask.txt && less ~/brew-leaves.txt && less ~/brew-list.txt && less ~/brew-list-cask.txt"

# Git
#
# git develop and main, or git deploy
alias gdp="git checkout main && git merge dev && git push && git checkout dev"
# Common
alias gs="git status"
alias gcm="git commit -m"
alias gam="git add . && git commit -m"
alias gp="git push"
alias gf="git fetch"
# Other
alias gd="git diff"
alias gl="git log"
alias glo="git log --oneline"

# Misc
#
alias cdd="cd ~/Dropbox/"
alias tn="ts-node"

# NPM
#
alias ngo="npm -g outdated"
alias ngu="npm -g update && npm -g list && npm -g list > global-npm-packages.txt"
alias nrd="npm run dev"
alias nrb="npm run build"

# Rustup
#
alias r="rustup update"

# yadm
#
alias u="yadm "
alias ua="yadm add"
alias us="yadm status"
alias ucm="yadm commit -m"
alias ud="yadm diff"
alias up="yadm push"
alias uan="yadm add ~/.config/nvim/"
alias uavs="yadm add ~/Library/Application\ Support/Code/User/settings.json"
alias uavk="yadm add ~/Library/Application\ Support/Code/User/keybindings.json"
alias ul="yadm log"
alias ulo="yadm log --oneline"

# zsh
#
alias l="ls -laF"
