# Bashcrypto
#
# Change to the bashcrypto directory; decrypt swords to ~/Downloads; open file
alias cdobds="cd ~/dev/utils/bashcrypto && ./bashcrypto -d -i ~/Dropbox/docs/swords/swords.txt.enc -o ~/Downloads/swords.txt && open ~/Downloads/swords.txt"
alias cdobdsh="cd ~/dev/utils/bashcrypto && ./bashcrypto -d -i ~/Dropbox/docs/swords/swords.txt.enc -o ~/Downloads/swords.txt && open ~/Downloads/swords.txt && cd ~"
alias cdobda="cd ~/dev/utils/bashcrypto && ./bashcrypto -d -i ~/Dropbox/docs/swords/ac.txt.enc -o ~/Downloads/ac.txt && open ~/Downloads/ac.txt"
alias cdobdah="cd ~/dev/utils/bashcrypto && ./bashcrypto -d -i ~/Dropbox/docs/swords/ac.txt.enc -o ~/Downloads/ac.txt && open ~/Downloads/ac.txt && cd ~"
### remove swords
alias rms="rm -r ~/Downloads/swords.txt"
alias rma="rm -r ~/Downloads/ac.txt"
### encrypt swords
alias ens="cd ~/dev/utils/bashcrypto && ./bashcrypto -e -i ~/Downloads/swords.txt -o ~/Dropbox/docs/swords/swords.txt.enc"
### encrypt with a password
alias be="./bashcrypto -e -i"
### decrypt with a password
alias bd="./bashcrypto -d -i"

# Homebrew
#
alias b="brew update --verbose && brew upgrade --verbose && brew cleanup --verbose --prune=all && brew leaves > ~/brew-leaves.txt && brew list > ~/brew-list.txt && brew list --cask > ~/brew-list-cask.txt && less ~/brew-leaves.txt && less ~/brew-list.txt && less ~/brew-list-cask.txt"

# Git
#
# git develop and main, or git deploy
alias gdp="git checkout main && git merge dev && git push && git checkout dev"
# common
alias gs="git status"
alias gcm="git commit -m"
alias gam="git add . && git commit -m"
alias gp="git push"
alias gf="git fetch"
# other
alias gd="git diff"
alias gl="git log"
alias glo="git log --oneline"

# Hammerspoon
#
alias vms="cd ~/.hammerspoon/Spoons/VimMode.spoon && git pull"

# Neovim
#
alias n="nvim"

# NPM
#
alias ngo="npm -g outdated"

# Rustup
#
alias r="rustup update"

# yadm
#
alias u="yadm "
alias ua="yadm add"
alias us="yadm status"
alias ucm="yadm commit -m"
alias ud="yadm diff"
alias up="yadm push"
alias uan="yadm add .config/nvim/lazy-lock.json"
alias uavs="yadm add ./Library/Application\ Support/Code/User/settings.json"
alias uavk="yadm add ./Library/Application\ Support/Code/User/keyboard.json"
alias ul="yadm log"
alias ulo="yadm log --oneline"

# zsh
#
alias l="ls -laF"
